<div class="center jumbotron">
  <% if logged_in? %>
    <%= link_to "Lista Linii", linia_path, class: "btn btn-lg btn-primary btn-block" %>
    <%= link_to "Lista Przystanków", przystanek_path, class: "btn btn-lg btn-primary btn-block" %>
  <% else %>
    <h1>Welcome to MPK App</h1>

    <h2>
      Opis
    </h2>

    <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>


