<h3>Usunięcie trasy</h3>


<p>Czy na pewno chcesz usunac trasę?</p>

<p>
	<%= link_to "Tak", route_path(@route), method: :delete, class: "btn btn-danger" %>
	<%= link_to "Nie", routes_path, class: "btn btn-default" %>
</p> 