// Place all the styles related to the stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stopname {

	color: #008B8B;

}

.buttonform {
	display: inline;
}
.sizebtn {
	width: 100px;
}

.dangertext {
	color: red;
	font-size: 1.5em;
}