<footer class="footer">
  <small>
    Baza danych komunikacji miejskiej wraz z aplikacją kliencką
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

